<div class="page-container">
  <div class="page-header">
    <div>
      <h2>
        <mat-icon>bar_chart</mat-icon>
        {{ 'USUARIO.RANKING.TITULO' | translate }}
      </h2>

      <p class="subtitle">
        {{ 'USUARIO.RANKING.SUBTITULO' | translate }}
      </p>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="(topReportadores$ | async) ?? []">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'USUARIO.RANKING.USUARIO' | translate }}
        </th>

        <td mat-cell *matCellDef="let element">
          <span class="usuario-chip">
            {{ element.nombre }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="cantidadReportes">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'USUARIO.RANKING.CANTIDAD_REPORTES' | translate }}
        </th>

        <td mat-cell *matCellDef="let element">
          <div class="reportes-count">
            {{ element.cantidadReportes }}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
